.backgroundImage
{
    background-image: url("../assets/KeyArt_Season_010.png");
    background-size: cover;
    background-clip:border-box;
    background-position-y: center;
    background-position-x: center;
    background-repeat:no-repeat;
}

.greeting{
    color:#fffcfc;
    -webkit-text-stroke: .25px black;
}
.chestCollection{
    
    background-color: rgb(26, 39, 63);
    opacity: .7;
    color:#fffcfc;
    -webkit-text-stroke: .25px black;
}